@model MvcApplication1.Models.Operacion
@{
    ViewBag.Title = "Restar";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Restar</h2>

@using (@Html.BeginForm("Restar", "Calculadora", FormMethod.Post))
{


    @Html.LabelFor(model => model.a, "Nro 1:")
    @Html.TextBoxFor(model => model.a);
    @Html.ValidationMessageFor(model => @model.a);
    <br />
    @Html.LabelFor(model => model.b, "Nro 2:")
    @Html.TextBoxFor(model => model.b);
    @Html.ValidationMessageFor(model => model.b);

    <br />
    <button type="Submit">Operar</button>

}
